{% extends 'base.html' %}
{% load custom %}
{% block page_header %}
    <h1>
        服务管理
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">检查服务</h3>
    </div>
    <div class="box-body">
        <select class="" id="namespace">
            {% for name,status in namespace_status.items %}
                <option>{{ name }}</option>
            {% endfor %}
        </select>

        <ul id="myTab" class="nav nav-tabs">

            <li><a href="#Deployments" data-toggle="tab" onclick="GetInfo(this)">Deployments</a>
            </li>
            <li><a href="#Pods" data-toggle="tab" onclick="GetInfo(this)">Pods</a></li>
            <li><a href="#Services" data-toggle="tab" onclick="GetInfo(this)">Services</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="Deployments">
            </div>
            <div class="tab-pane fade" id="Pods">
                {#                <table class="table table-bordered table-hover dataTable">#}
                {#                    <thead>#}
                {#                    </thead>#}
                {#                </table>#}
            </div>
            <div class="tab-pane fade" id="Services">
            </div>

        </div>
    </div>



{% endblock %}
{% block bottom-js %}

    <script>

        function GetInfo(obj) {
            var namespace = $("#namespace").val();
            console.log(namespace)
            var type = $(obj).text();
            console.log(type);
            $.ajax({
                url: "/cloud/management/",
                type: 'POST',
                data: {type: type, name: namespace},
                success: function (res) {
                    var new_name_space = namespace;
                    $('#name_space').val(new_name_space);
                    var json = jQuery.parseJSON(res);
                    $("#" + type).empty();
                    console.log(json)

                    $("#" + type).append('<table class="table table-bordered table-hover dataTable"><tbody>')
                    for (var p in json) {
                        pod_html = "<tr>" + "<td>" + p + "</td>" + '<td><span class="label label-success">' + json + "</span></td>" + "</tr>"
                        $('#' + type + "> table > tbody").append(pod_html);
                    }
                    $("#" + type).append("</tbody></table>");


                }
            })
        }
        ;


    </script>



{% endblock %}