{% extends 'base.html' %}
{% load custom %}
{% block page_header %}
    <h1>
        待处理资产列表
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="box">

        <div class="row">
            <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-hover dataTable"
                       role="grid"
                       aria-describedby="example2_info">

                    <thead>
                    <tr role="row">
{#                        <th>Name</th>#}
                        <th>SN</th>
                        <th>设备类型</th>
                        <th>型号</th>
                        <th>厂家</th>
                        <th>CPU</th>
                        {#                        <th>虚拟/物理</th>#}
                        <th>RAM</th>
                        <th>OS</th>
                        <th>更新时间</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for i in asset_data %}
                        <tr role="row" class="even">

{#                            <td><a href="/asset/list/{{ i.id }}">{{ i.name }}</a></td>#}
                            <td>{{ i.sn }}</td>
                            <td>{{ i.asset_type }}</td>
                            <td>{{ i.model }}</td>
                            <td>{{ i.manufactory }}</td>

                            <td>{{ i.cpu_model }} * {{ i.cpu_count }}</td>
                            {#                            <td>{{ i.name }}</td>#}
                            <td>{{ i.ram_size  }} </td>
                            <td>{{ i.os_type  }} </td>
                            {#                                    <td>{{ i.manufactory }}</td>#}
{#                            <td>#}
{#                                {% if i.status == '在线' %}#}
{#                                    <span class="label label-success">运行中</span>#}
{#                                {% elif i.status == '已下线' %}#}
{#                                    <span class="label label-primary">已下线</span>#}
{#                                {% elif i.status == '未知' %}#}
{#                                    <span class="label label-default">未知</span>#}
{#                                {% elif i.status == '故障' %}#}
{#                                    <span class="label label-danger">故障</span>#}
{#                                {% elif i.status == '备用' %}#}
{#                                    <span class="label label-info">备用</span>#}
{##}
{#                                {% endif %}#}
{#                            </td>#}
                            <td>{{ i.date |date:"Y-m-d H:i:s" }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
                <div class="col-sm-5">
                    <div class="dataTables_info" id="example2_info" role="status"
                         aria-live="polite">Showing 1 to
                        {% if assets.data|length < 10 %}
                            {{ assets.data|length }}
                        {% else %}
                            10
                        {% endif %}
                        of {{ assets.data|length }} entries
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="nav-divider">
                        <nav style="float: right">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                    <li class="">
                                        <a href="?page={{ posts.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in posts.paginator.page_range %}
                                    {% guess_page posts.number page_num %}
                                {% endfor %}
                                {% if posts.has_next %}
                                    <li class="">
                                        <a href="?page={{ posts.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>        <!-- nav-tabs-custom -->
    </div>



{% endblock %}
{% block bottom-js %}
    {#    <script>#}
    {#        function New() {#}
    {#            window.location.href = '/asset/category/networkdevice/';#}
    {#        }#}
    {#    </script>#}
{% endblock %}